<div class="container">
  <h2>Employees Form</h2>
  <form (ngSubmit)="onSubmit();" #employeeForm="ngForm">
    <div class="form-group">
      <label for="id">Id </label>
      <input type="text" class="form-control" id="id" [(ngModel)]="employee.id" name="id">
    </div>

    <button type="submit" class="btn btn-success" > Get Employees</button>
  </form>
</div>

<div style="text-align:center">
  <h1>
    Employees
  </h1>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="contractTypeName">
    <th mat-header-cell *matHeaderCellDef> contractTypeName </th>
    <td mat-cell *matCellDef="let element"> {{element.contractTypeName}} </td>
  </ng-container>

  <ng-container matColumnDef="roleId">
    <th mat-header-cell *matHeaderCellDef> roleId </th>
    <td mat-cell *matCellDef="let element"> {{element.roleId}} </td>
  </ng-container>

  <ng-container matColumnDef="roleDescription">
    <th mat-header-cell *matHeaderCellDef> roleDescription </th>
    <td mat-cell *matCellDef="let element"> {{element.roleDescription}} </td>
  </ng-container>

  <ng-container matColumnDef="hourlySalary">
    <th mat-header-cell *matHeaderCellDef> hourlySalary </th>
    <td mat-cell *matCellDef="let element"> {{element.hourlySalary}} </td>
  </ng-container>

  <ng-container matColumnDef="monthlySalary">
    <th mat-header-cell *matHeaderCellDef> monthlySalary </th>
    <td mat-cell *matCellDef="let element"> {{element.monthlySalary}} </td>
  </ng-container>

  <ng-container matColumnDef="annualSalary">
    <th mat-header-cell *matHeaderCellDef> annualSalary </th>
    <td mat-cell *matCellDef="let element"> {{element.annualSalary}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
